################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStoreApp/bin/Debug/netcoreapp3.1
/BookStoreApp/obj
/BookStoreApp/.vs/BookStoreApp
/.vs
